#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
env/
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage

local.sqlite
setenv.bat